[submodule "src/fpga_gowin_hd44780"]
    path = src/fpga_gowin_hd44780
    url = git@github.com:gugolple/HD44780Verilog.git
    ignore = dirty
[submodule "Catch2"]
    path = container/Catch2
    url = https://github.com/catchorg/Catch2.git
    ignore = dirty
[submodule "verilator"]
    path = container/verilator
    url = https://github.com/verilator/verilator
    ignore = dirty
